/* common */
.mark-water{
    color:#bbb;
}
/* eof common */

/* node */
.node-content-wrapper{
    font-family: 'Kreon', sans-serif;
    font-weight: 300;
    background-color:#fff;
}
.node-content-wrapper ul{
    border-left:1px dotted #ccc;
    list-style:none;
    padding-left:25px;
    margin:0px;
}
.node-content-wrapper ul li{
    list-style:none;
    border-bottom:0;
    padding-bottom:0
}
.node-hgl-path{
    background-color:#fefbdf;
}
.node-bracket{
    font-weight:400;
    margin:0 5px;
    display:inline-block;
    cursor:pointer;
}
.node-bracket:hover{
    color:#1979d3;
}
/* eof node */

/* leaf */
.leaft-container{
    width:100%;
    max-width:300px;
    height:100%;
}

.title{ color:#ccc;}
.string{ color:#080; font-family: 'Play', sans-serif;}
.number{ color:#ccaa00; font-family: 'Play', sans-serif;}
.boolean{ color:#1979d3; font-family: 'Play', sans-serif;}
.date{ color:#aa6655; font-family: 'Play', sans-serif;}
.null{ color:#ff5050; font-family: 'Play', sans-serif;}
/* eof leaf */
